!!! 5
html
  head
    title= title
    meta(charset="utf-8") 
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/mimetypes.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')  
  body
    div#indexwrapper
      header(class="clearfix")
        h1
          a(href="/") doc
            span drop

      block mainContent
